<!DOCTYPE html>
<!--
    Student Name: Wendy Lane
    Date: 02/13/2025
    File Name:styles.css
-->
<html lang="en">

<!-- CSS Reset -->
body, header, nav, main, footer, img, h1, h2 {
    margin: 0;
    padding: 0;
    border: 0;
  }

<!-- Make images responsive -->
img {
    max-width: 100%;
    display: block;  
}


<!-- Styles for navigation -->
nav {
    background-color: #2a1f14;
    text-decoration: none;
}

a {
    text-decoration:none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    position: fixed;
    top: 0;
    text-decoration: none;
}

nav li {
    
    display: inline-block;
    font-size: 1.0em;
    font-family: Georgia, Arial, sans-serif;
    font-weight: bold;
    padding: 0.5em 0.5em;
    text-decoration: none;
    background-color: #8FBC8F;
    text-alignment: center;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: ridge;
  margin-top: 2px;
  margin-right: 10px;
  font-size: 17px;
}

<!-- Style rules for main content -->
main {
    padding: 2%;
    font-family: Georgia, Arial, sans-serif;
}
.main-experience {
    font-family:Georgia, Arial, sans-serif;
    text-decoration:bold;
}

main ul {
    list-style-type: square;
}


#contact {
    text-align: left;
    font-family: Georgia, Arial, sans-serif;
}

<!--  Style rules for footer content -->
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14;
    color: #f6eee4;
    padding: 1% 0%;
}